gallery-grid {
    display: block;
    overflow: auto;
}

gallery-grid .gl-grid-item-row {
    display: block;
    float: left;
}

gallery-grid .gl-grid-cell {
    padding: 1px;
}

gallery-grid .gl-grid-item {
    cursor: pointer;
}
