gallery .gl-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 10000;
}

gallery .gl-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10010;
    text-align: center;
}

gallery .gl-view {
    position: absolute;
    height: 100%;
    width: 100%;
}

gallery .gl-img-container {
    position: relative;
    height: 100%;
    width: 100%;
}

gallery .gl-img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 50px 0 50px 0;
    cursor: pointer;
}

gallery .gl-action {
    display: block;
    padding: 16px 20px 16px;
    background-color: rgba(0, 0, 0, 0.45);
    color: #999;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, color 0.2s linear;
}

gallery .gl-action:hover {
    color: #FFF;
}

gallery .gl-actions .gl-action {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 10020;
}

gallery .gl-actions .gl-prev {
    left: 0;
}

gallery .gl-actions .gl-next {
    right: 0;
}

gallery .gl-navbar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 10030;
}

gallery .gl-navbar .gl-right {
    float: right;
}

gallery .gl-navbar .gl-left {
    float: left;
}
