gallery-grid {
    display: block;
    width: 100%;
}

gallery-grid .gl-grid-cell-wrapper {
    display: block;
    float: left;
}

gallery-grid .gl-grid-cell {
    padding: 1px;
}

gallery-grid .gl-grid-item {
    cursor: pointer;
}
