<div *ngIf="getActiveItem()">
    <div class="gl-backdrop"></div>
    <div class="gl-container">
        <div class="gl-view">
            <div class="gl-img-container">
                <img (click)="viewNextItem(true)"
                     [src]="getActiveItem().thumbnails[0].absolute_url"
                     [alt]="getActiveItem().description"
                     [title]="getActiveItem().description"
                     class="gl-img">
            </div>
        </div>
        <div class="gl-actions">
            <a (click)="viewPrevItem()"
               title="{{ 'Previous' }}"
               class="gl-action gl-prev"><i class="fa fa-arrow-left"></i></a>
            <a (click)="viewNextItem(true)"
               title="{{ 'Next' }}"
               class="gl-action gl-next"><i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="gl-navbar">
            <a *ngIf="closeItemCallback"
               (click)="closeItem()"
               title="{{ 'Close' }}"
               class="gl-action gl-right"><i class="fa fa-close"></i></a>
            <a *ngIf="editItemCallback"
               (click)="editItem()"
               title="{{ 'Edit' }}"
               class="gl-action gl-left"><i class="fa fa-pencil"></i></a>
            <a *ngIf="deleteItemCallback"
               (click)="deleteItem()"
               title="{{ 'Delete' }}"
               class="gl-action gl-left"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>
<gallery-grid
        [updateInterval]="250"
        [rowHeight]="250"
        [galleryItems]="getItems()"
        [clickGridItemCallback]="viewItem"
></gallery-grid>
