<div *ngIf="openedImage">
    <div class="gl-backdrop"></div>
    <div class="gl-container"
         (swiperight)="viewPrevImage()"
         (swipeleft)="viewNextImage(true)">
        <i class="gl-spinner"
           [ngClass]="!openedImageIsLoaded ? 'fa fa-circle-o-notch fa-spin fa-2x' : ''"
           aria-hidden="true"></i>
        <div class="gl-view">
            <div *ngIf="openedImageIsLoaded" class="gl-img-container">
                <img (click)="viewNextImage(true)"
                     [src]="openedImage.getLargeSizeUrl()"
                     [alt]="openedImage.getDescription()"
                     [title]="openedImage.getDescription()"
                     class="gl-img">
            </div>
            <div *ngIf="isOpenedInfo" class="gl-info">
                {{ openedImage.getDescription() }}<br>{{ openedImage.getExif() }}
            </div>
        </div>
        <div class="gl-actions">
            <button (click)="viewPrevImage()"
                    title="{{ 'Previous' }}"
                    type="button"
                    class="gl-action gl-prev"><i class="fa fa-chevron-left gl-icon" aria-hidden="true"></i></button>
            <button (click)="viewNextImage(true)"
                    title="{{ 'Next' }}"
                    type="button"
                    class="gl-action gl-next"><i class="fa fa-chevron-right gl-icon" aria-hidden="true"></i></button>
        </div>
        <div class="gl-navbar">
            <button *ngIf="showCloseButton"
                    (click)="closeImage()"
                    title="{{ 'Close' }}"
                    type="button"
                    class="gl-action gl-right"><i class="fa fa-close gl-icon" aria-hidden="true"></i></button>
            <button *ngIf="showInfoButton"
                    (click)="toggleInfo()"
                    title="{{ 'Info' }}"
                    type="button"
                    class="gl-action gl-left"><i class="fa fa-info gl-icon" aria-hidden="true"></i></button>
            <button *ngIf="showEditButton"
                    (click)="editImage()"
                    title="{{ 'Edit' }}"
                    type="button"
                    class="gl-action gl-left"><i class="fa fa-pencil gl-icon" aria-hidden="true"></i></button>
            <button *ngIf="showDeleteButton"
                    (click)="deleteImage()"
                    title="{{ 'Delete' }}"
                    type="button"
                    class="gl-action gl-left"><i class="fa fa-trash gl-icon" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<gallery-grid #galleryGridComponent
              [rowHeight]="360"
              [galleryImages]="galleryImages"
              (onClickGridImage)="viewImage($event)"></gallery-grid>
