<div *ngFor="let gridRow of gridRowItems" class="gl-grid-row">
    <div *ngFor="let gridItem of gridRow" class="gl-grid-cell-wrapper">
        <div class="gl-grid-cell"
             [style.width.px]="gridItem.getSmallSizeWidth()"
             [style.height.px]="gridItem.getSmallSizeHeight()">
            <!-- Note: The image [width] and [height] attributes are initialized with the .gl-grid-cell element padding offset. -->
            <img (click)="onClickGridItem.emit(gridItem)"
                 [style.background]="gridItem.getAvgColor()"
                 [src]="gridItem.getSmallSizeUrl()"
                 [width]="gridItem.getSmallSizeWidth()- 2"
                 [height]="gridItem.getSmallSizeHeight() - 2"
                 [alt]="gridItem.getDescription()"
                 class="gl-grid-item">
        </div>
    </div>
</div>
