const env = {

    debugMode: true,

    backendUrl: 'http://localhost',

    appName: 'Photo Blog',

    appUrl: 'http://localhost:8000',

    appDescription: 'Hi, this is my Photo Blog.',

    apiUrl: 'http://localhost/api/v1',

    googleAnalyticsTrackingId: 'UA-XXXXXX-ID',

    pageAboutMe: 'Hi, this is my Photo Blog.',

};

export {env};
