export class env {
    static appName:string = 'Photo Blog';
    static apiUrl:string = 'http://localhost/api/v1';
    static debug:boolean = true;
    static aboutMePageContent = 'Hi, this is my Photo Blog.';
}
