const env = {

    debugMode: true,

    backendUrl: 'http://localhost',

    apiUrl: 'http://localhost/api/v1',

    appImage: 'http://localhost:8000/assets/static/meta_image.jpg',

    appUrl: 'http://localhost:8000',

    appName: 'My Website',

    appAuthor: 'John Doe',

    appDescription: 'Hi, this is my website.',

    googleAnalyticsTrackingId: 'UA-XXXXXX-ID',

    pageAboutMe: `Hi, this is my website's about page.`,

};

export {env};
