notices .notices-wrapper {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    max-height: 100%;
    overflow: hidden;
    z-index: 10000;
}

notices .notices-wrapper .notice {
    display: block;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 12px #999;
    opacity: 0.85;
    cursor: pointer;
}

notices .notices-wrapper .notice:first-child {
    margin-top: 10px;
}

notices .notices-wrapper .notice {
    margin: 6px 10px 0 0;
}

notices .notices-wrapper .notice:hover {
    box-shadow: 0 0 12px #000;
    opacity: 0.95;
}

notices .notices-wrapper .notice.notice-success {
    color: #fff;
    background-color: #51A351;
}

notices .notices-wrapper .notice.notice-warning {
    color: #fff;
    background-color: #F7A735;
}

notices .notices-wrapper .notice.notice-error {
    color: #fff;
    background-color: #BD362F;
}

notices .notices-wrapper .notice.notice-info {
    color: #fff;
    background-color: #2F96B4;
}

notices .notices-wrapper .notice .notice-title {
    font-weight: bold;
}

notices .notices-wrapper .notice .notice-text {
}
