<div class="row">
    <div class="col-sm-12">
        <div *ngIf="isEmpty()" class="widget p-sm text-center">
            <h2 class="m-xs">{{ 'No photos found' }}</h2>
        </div>
        <gallery #galleryComponent
                 [images]="images"
                 [defaultImageId]="queryParams['show']"
                 [loadMoreCallback]="loadMoreImages.bind(this)"
                 (onOpenImage)="onShowPhoto($event)"
                 (onCloseImage)="onHidePhoto($event)"
                 [showEditImageButton]="authProvider.isAuthenticated()"
                 (onEditImage)="authProvider.isAuthenticated() ? onEditPhoto($event) : null"
                 [showDeleteImageButton]="false"
                 infinite-scroll
                 [infiniteScrollDisabled]="!hasMoreImages"
                 [infiniteScrollDistance]="3"
                 [infiniteScrollThrottle]="500"
                 (scrolled)="loadMoreImages()"
        ></gallery>
    </div>
</div>
<div *ngIf="!isEmpty() && hasMoreImages" class="text-center" style="margin-top: 20px;">
    <button class="btn btn-primary" (click)="loadMoreImages()" [disabled]="isProcessing()">
        {{ !isProcessing() ? 'Load More' : 'Loading...' }}
    </button>
</div>
<json-ld *ngFor="let linkedData of getLinkedData()" [data]="linkedData"></json-ld>
