<div class="row">
    <div class="col-sm-12">
        <div *ngIf="isEmpty()" class="widget p-sm text-center">
            <h2 class="m-xs">{{ 'No photos found' }}</h2>
        </div>
        <gallery #galleryComponent
                 [galleryImages]="galleryImages"
                 [defaultImageId]="queryParams['show']"
                 [onLoadMoreCallback]="loadMorePhotos"
                 (onOpenImage)="onShowPhoto($event)"
                 (onCloseImage)="onHidePhoto($event)"
                 (onEditImage)="authProvider.isAuthenticated() ? onEditPhoto($event) : null"
                 [showEditButton]="authProvider.isAuthenticated()"
                 infinite-scroll
                 [infiniteScrollDistance]="3"
                 [infiniteScrollThrottle]="500"
                 (scrolled)="loadMorePhotos()"
        ></gallery>
    </div>
</div>
<div *ngIf="!isEmpty()" class="text-center" style="margin-top: 20px;">
    <button class="btn btn-primary" (click)="loadMorePhotos()" [disabled]="isLoading()">
        <span>{{ !isLoading() ? 'Load More' : 'Loading...' }}</span>
    </button>
</div>
