<div class="ibox float-e-margins">
    <div class="ibox-title"><h5>{{ photo.absolute_url ? 'Edit Photo' : 'Add Photo' }}</h5></div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tags</label>
                        <div class="col-sm-10">
                            <tags-select-input [(tags)]="photo.tags"></tags-select-input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="8" [(ngModel)]="photo.description"></textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" (click)="savePhoto()" [disabled]="lockerService.isLocked()">
                                {{ 'Save' }}
                            </button>
                            <button class="btn btn-danger" *ngIf="photo.id" (click)="deletePhoto()">
                                {{ 'Delete' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="file-box" *ngIf="photo.absolute_url">
                            <div class="file">
                                <span class="corner"></span>
                                <div class="image">
                                    <a [href]="photo.absolute_url" target="_blank" title="photo.description">
                                        <img [src]="photo.thumbnails[0].absolute_url" [alt]="photo.description"
                                             class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-info btn-file" [disabled]="lockerService.isLocked()">
                            <i class="fa fa-upload"></i>
                            {{ 'Upload File' }}
                            <file-select-input [onChangeCallback]="uploadPhoto.bind(this)"
                                               [disabled]="lockerService.isLocked()"></file-select-input>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
