<div class="ibox float-e-margins">
    <div class="ibox-title"><h5>{{ photo.id ? 'Edit Photo' : 'Add Photo' }}</h5></div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="file-box" *ngIf="photo.absolute_url">
                            <div class="file">
                                <span class="corner"></span>
                                <div class="image">
                                    <a [href]="photo.absolute_url" target="_blank" title="photo.description">
                                        <img [src]="photo.thumbnails[0].absolute_url"
                                             [alt]="photo.description"
                                             class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="btn btn-info btn-file" [class.disabled]="isLoading()">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                {{ 'Upload File' }}
                                <file-select-input [onChangeCallback]="upload"
                                                   [disabled]="isLoading()">
                                </file-select-input>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tags</label>
                        <div class="col-sm-10">
                            <tags-select-input [(tags)]="photo.tags"></tags-select-input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea [(ngModel)]="photo.description"
                                      class="form-control"
                                      rows="8"></textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button (click)="save()"
                                    [disabled]="isLoading()"
                                    class="btn btn-primary">
                                {{ 'Save' }}
                            </button>
                            <button *ngIf="photo.id"
                                    (click)="deletePhoto()"
                                    [disabled]="isLoading()"
                                    class="btn btn-danger">
                                {{ 'Delete' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
