:host .tb {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #eee;
    background: #fff;
    z-index: 1000;
}

@media (min-width: 768px) {
    :host .tb {
        display: none;
    }
}

:host .tb-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
}

:host .tb-wrapper .tb-btn-nav {
    position: absolute;
    top: 14px;
    left: 20px;
}

:host .tb-wrapper .tb-page-name {
    position: absolute;
    top: 0;
    left: 70px;
    right: 20px;
}

:host .tb-wrapper .tb-page-name h1 {
    margin: 0;
    font-size: 15px;
    line-height: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
