/node_modules/
/vendor/
/dist/

Homestead.json
Homestead.yaml
.env
npm-debug.log
www.pid

oauth-private.key
oauth-public.key

/public/storage
/public/storage/
/public/css/
/public/favicon/
/public/fonts/
/public/images/
/public/js/
/public/favicon.ico
/public/mix-manifest.json
