:host .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #2f4050;
    z-index: 1020;
}

:host .sidebar ul {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

:host .sidebar > ul {
    margin-top: 20px;
}

:host .sidebar > ul > li:first-child > span,
:host .sidebar > ul > li:first-child > a {
    border-top: none;
}

:host .sidebar > ul > li:last-child > span,
:host .sidebar > ul > li:last-child > a {
    border-bottom: none;
}

:host .sidebar li > span {
    cursor: default;
}

:host .sidebar li > span,
:host .sidebar li > a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-weight: 600;
    color: #a7b1c2;
    border-bottom: 1px solid #2c3c4b;
    border-top: 1px solid #344555;
}

:host .sidebar li > span {
    color: #8993a4;
}

:host .sidebar li > a.active,
:host .sidebar li > a:hover,
:host .sidebar li > a:focus {
    text-decoration: none;
}

:host .sidebar li > a.active,
:host .sidebar li > a:hover,
:host .sidebar li > a:focus:not(.sidebar-brand) {
    color: #fff;
}

:host .sidebar li > a:hover {
    background-color: #293846;
}

:host .sidebar li > span > i,
:host .sidebar li > a > i {
    margin-right: 6px;
}

:host .sidebar li.sidebar-second-level {
    border-left: 1px solid #a7b1c2;
}

:host .sidebar li.sidebar-second-level li > span,
:host .sidebar li.sidebar-second-level li > a {
    padding-left: 38px;
}

:host .sidebar-backdrop {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1010;
}

@media (min-width: 768px) {
    :host .sidebar-backdrop {
        display: none !important;
    }
}
