.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #2f4050;
    z-index: 1000;
}

@media (max-width: 767px) {
    .sidebar {
        top: 60px;
        box-shadow: 1px 0 3px rgba(0, 0, 0, 0.35);
    }
}
