<div class="sb-container" [@slideInOut]="animationState">
    <ul>
        <li>
            <span>
                <i class="fa fa-camera-retro" aria-hidden="true"></i>
                <span>{{ env.get('appName') }}</span>
            </span>
        </li>
        <li *ngIf="authProvider.isAuthenticated()">
            <a [routerLink]="['/photo/add']"
               (click)="toggle()"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>{{ 'Add Photo' }}</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/photos']"
               (click)="toggle()"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span>{{ 'All Photos' }}</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/photos/search']"
               (click)="toggle()"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span>{{ 'Search' }}</span>
            </a>
        </li>
        <li class="sb-second-level">
            <span>
                <i class="fa fa-tags" aria-hidden="true"></i>
                <span>{{ 'Tags' }}</span>
            </span>
            <ul>
                <li>
                    <a [routerLink]="['/photos/tag', 'sky']"
                       (click)="toggle()"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">{{ '#sky' }}</a>
                </li>
                <li>
                    <a [routerLink]="['/photos/tag', 'water']"
                       (click)="toggle()"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">{{ '#water' }}</a>
                </li>
                <li>
                    <a [routerLink]="['/photos/tag', 'portrait']"
                       (click)="toggle()"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">{{ '#portrait' }}</a>
                </li>
            </ul>
        </li>
        <li *ngIf="authProvider.isAuthenticated()">
            <a [routerLink]="['/signout']"
               (click)="toggle()"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>{{ 'Sign Out' }}</span>
            </a>
        </li>
    </ul>
</div>
<div (click)="toggle()" [@appearInOut]="animationState" class="sb-backdrop"></div>
