/* Start: Layout */

#wrapper {
    min-width: 320px;
    max-width: 2000px;
    margin: 0 auto;
}

.file-box .file .icon,
.file-box .file .image {
    height: auto !important;
}

/* End: Layout */

/* Start: Tag Input */

tag-input * {
    font-size: 14px !important;
    letter-spacing: normal !important;
}

tag-input .tag {
    height: 34px !important;
    line-height: 34px !important;
    border-radius: 0 !important;
    background-color: #18a689 !important;
    border: 1px solid #18a689 !important;
}

tag-input .tag:not(.tag--readonly),
tag-input .tag:not(.tag--readonly) path {
    color: #fff !important;
    fill: #fff !important;
}

tag-input .default .tag:not(.tag--readonly):focus {
    background-color: #ed5565 !important;
    border-color: #ed5565 !important;
}

tag-input .tag-input {
    border: 1px solid #e5e6e7 !important;
}

tag-input .tag-input--focused {
    border-color: #1ab394 !important;
}

/* End: Tag Input */
