a {
    outline: 0 !important;
}

#wrapper {
    min-width: 320px !important;
    max-width: 2000px !important;
    margin: 0 auto !important;
}

.file-box .file .icon,
.file-box .file .image {
    height: auto !important;
}

.nav > li.active {
    border: none !important;
}

.navbar {
    min-height: 60px !important;
}
