<div class="ibox float-e-margins">
    <div class="ibox-title"><h5><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</h5></div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" [(ngModel)]="form.email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" [(ngModel)]="form.password" name="password">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" (click)="signIn()">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
