<div class="bottombar">
        <span class="bottombar-item">&copy;
            {{ getCurrentYear() }} <strong>{{ getAppName() }}</strong></span>
    <span class="bottombar-item bottombar-desktop-screen">
             <a [routerLink]="['/contact-me']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">{{ 'Contact Me' }}</a>
        </span>
    <span class="bottombar-item bottombar-desktop-screen">
             <a [routerLink]="['/subscription']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">{{ 'Subscription' }}</a>
        </span>
    <span class="bottombar-item bottombar-desktop-screen">
             <a href="/rss" target="_blank">{{ 'RSS Feed' }}</a>
        </span>
</div>
