/css/
/fonts/
/images/
/js/
/storage
/storage/
/android-chrome-192x192.png
/android-chrome-512x512.png
/apple-touch-icon.png
/browserconfig.xml
/favicon.ico
/favicon-16x16.png
/favicon-32x32.png
/mstile-70x70.png
/mstile-144x144.png
/mstile-150x150.png
/mstile-310x150.png
/mstile-310x310.png
/safari-pinned-tab.svg
/mix-manifest.json
