<div class="app-wrapper">
    <sidebar #sideBarComponent
             (onToggle)="onToggleSideBar($event)"
             (onShow)="onShowSideBar($event)"
             (onHide)="onHideSideBar($event)">
    </sidebar>
    <topbar (onNavClick)="toggleSideBar()"></topbar>
    <div class="app-content" [ngStyle]="appContentStyles">
        <router-outlet></router-outlet>
    </div>
    <bottombar></bottombar>
    <notices></notices>
    <go-top-button [html]="'<i class=\'fa fa-arrow-up\'></i>'"
                   [animate]="true"
                   [speed]="30"
                   [acceleration]="50"
                   [styles]="{
                    'width': '40px',
                    'height': '40px',
                    'border-radius': '40px',
                    'top': 'auto',
                    'right': '24px',
                    'bottom': '20px',
                    'opacity': '1'
                   }"
                   title="{{ 'Go to top' }}">
    </go-top-button>
</div>
