:host .app-wrapper {
    min-width: 320px;
    min-height: 101%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #f3f3f4;
}

:host .app-content {
    padding: 80px 20px 60px 20px;
}

@media (min-width: 768px) {
    :host .app-content {
        padding-top: 20px;
        margin-left: 220px;
    }
}
