:host .app-wrapper {
    min-width: 320px;
    min-height: 101%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #f3f3f4;
}

:host .app-content {
    padding: 80px 20px 60px 20px;
}

@media (min-width: 768px) {
    :host .app-content {
        padding-top: 20px;
        margin-left: 220px;
    }
}

:host .app-footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
}

@media (min-width: 768px) {
    :host .app-footer {
        margin-left: 220px;
    }
}

:host .app-footer-item {
    padding-right: 5px;
    line-height: 40px;
}

:host .app-footer-item:first-child {
    padding-left: 20px;
}

:host .app-footer-item:last-child {
    padding-right: 20px;
}

:host .app-desktop-screen {
    display: none;
}

@media (min-width: 468px) {
    :host .app-desktop-screen {
        display: initial;
    }
}
