<div class="app-wrapper" (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)">
    <notices></notices>
    <sidebar #sideBarComponent
             [tags]="sideBarComponentTags"
             (onToggle)="onToggleSideBar($event)"
             (onShow)="onShowSideBar($event)"
             (onHide)="onHideSideBar($event)"></sidebar>
    <topbar (onNavClick)="sideBarComponent.toggle()"></topbar>
    <div class="app-content" [ngStyle]="appContentStyles">
        <router-outlet></router-outlet>
    </div>
    <div class="app-footer">
        <span class="app-footer-copyright">Copyright &copy; <strong>{{ env.get('appName') }}</strong> {{ getCurrentYear() }}</span>
    </div>
</div>
