<div id="wrapper" (swiperight)="sideBarComponent.show()" (swipeleft)="sideBarComponent.hide()">
    <sidebar #sideBarComponent
             (onToggle)="onToggleSideBar($event)"
             (onShow)="onShowSideBar($event)"
             (onHide)="onHideSideBar($event)"></sidebar>
    <topbar (onNavClick)="sideBarComponent.toggle()"></topbar>
    <div id="page-wrapper" class="gray-bg" [style.overflow]="scrollFreezer.getBackgroundOverflow()">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper wrapper-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="footer">
            <span>
                Copyright &copy; <strong>{{ env.get('appName') }}</strong> {{ getCurrentYear() }}
            </span>
        </div>
    </div>
</div>
