<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success">
                    {{ 'I am happy to answer any questions you have. Just send me a message in the form below.' }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Email' }}</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="form.email"
                                   (keyup.enter)="send()"
                                   type="email"
                                   class="form-control"
                                   name="email"
                                   placeholder="{{ 'Your Email Address' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Name' }}</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="form.name"
                                   (keyup.enter)="send()"
                                   type="text"
                                   class="form-control"
                                   name="name"
                                   placeholder="{{ 'Your Full Name' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Subject' }}</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="form.subject"
                                   (keyup.enter)="send()"
                                   type="text"
                                   class="form-control"
                                   name="subject"
                                   placeholder="{{ 'Subject Of Message' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'Text' }}</label>
                        <div class="col-sm-10">
                            <textarea [(ngModel)]="form.text"
                                      (keyup.enter)="send()"
                                      class="form-control"
                                      name="text"
                                      rows="6"
                                      placeholder="{{ 'Message Text' }}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button (click)="send()" [disabled]="isLoading()" class="btn btn-primary">{{ 'Send' }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
